<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        div {
            width: 800px;
            height: 150px;
            background: rgb(0, 255, 191);
            color: red;
            padding-left: 20px;
            margin: 50px auto;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 18px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <h1>:) <%= title%></h1>
        <p><a href="<%= url %>">点击跳转</a></p>
    </div>
</body>
</html>